.MuiDropzoneArea-text {
  padding: 30px !important;
}
.MuiDropzonePreviewList-imageContainer {
  /* height: auto !important;
  margin-top: 40px !important; */
  left: 33% !important;
  margin: 30px 0 !important;
}
.MuiDropzonePreviewList-removeButton {
  top: 34px !important;
}
.MuiDropzoneArea-root {
  width: 60% !important;
  margin: 10px auto !important;
  background: lightgray !important;
}
